/* ADD YOUR STYLES HERE */
/*
* {
    box-sizing: border-box;
}*/
.header-row {
    font-weight: bold;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.table-width td, th{
    padding: 10px 0;
    width: 900px;
}

.underline {
    border-bottom: 1px solid #c7c7c7;
}

.over-under {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

.col-1-3 {
    padding: 15px 0;
    text-align: center;
    width: 33.33%;
}

.big-text {
    font-size: 36px;
}

.baby-text {
    
}